* {
    font-family: 'Roboto', sans-serif;
    /* Esttudar border-box */
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    /* Estudar sobre o rem */
    padding: 1rem; 
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}


@media screen and (min-width: 992px){

    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem ;
    }
    
}

